# see https://medium.com/@nickjabs/running-github-actions-in-parallel-and-sequentially-b338e4a46bf5
# see https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/collaborating-on-repositories-with-code-quality-features/troubleshooting-required-status-checks

name: pr-check

on:
  pull_request:
    branches: [main]

# see https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/control-the-concurrency-of-workflows-and-jobs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # NOTE: its faster to run everything in one job for now rather than parallel jobs,
  # where the overhead of starting a new job and installing deps etc is not worth it
  pr-check-main-job:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run exports check
        run: npm run --prefix packages/addon check-exports

      - name: Run lint
        run: npm run lint

      - name: Run type check
        run: npm run check-types

      - name: Run format check
        run: npm run format

      - name: Run addon unit tests
        run: npm run --prefix packages/addon test

      # E2E TESTS

      - name: Get installed Playwright version
        id: playwright-version
        run: echo "PLAYWRIGHT_VERSION=$(npx playwright --version)" >> $GITHUB_ENV

      # see https://dev.to/ayomiku222/how-to-cache-playwright-browser-on-github-actions-51o6
      - name: Cache Playwright binaries
        uses: actions/cache@v3
        id: cache-playwright
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ env.PLAYWRIGHT_VERSION }}

      # see https://playwright.dev/docs/ci-intro
      - name: Install Playwright Browsers
        if: steps.cache-playwright.outputs.cache-hit != 'true'
        run: npx playwright install --with-deps

      - name: Run Storybook v10-vite e2e tests
        run: npm run --prefix packages/example-v10-vite test

      - name: Run Storybook v9-vite e2e tests
        run: npm run --prefix packages/example-v9-vite test

      - name: Run Storybook v8-vite e2e tests
        run: npm run --prefix packages/example-v8-vite test

      - name: Run Storybook v8-webpack e2e tests
        run: npm run --prefix packages/example-v8-webpack test

      - name: Run Storybook v7-webpack e2e tests
        run: npm run --prefix packages/example-v7-webpack test
